.linksAndArrow {
	position: absolute;
	top: 30px;
	right: 30px;

	display: grid;

	width: fit-content;
	height: fit-content;
	justify-items: right;
	gap: 20px;
}

.links {
	display: grid;

	width: fit-content;
	grid-template-columns: repeat(4, auto);
	gap: 15px;
}

.links > h1 {
	cursor: pointer;
	user-select: none;
	transition-duration: 300ms;
}

.links > h1:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	color: var(--white) !important;
}

.arrow > svg {
	fill: var(--dark);

	height: 85vh;
	margin-right: 15px;
}

@media (min-width: 1024px) {
	.links > h1:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		color: var(--white) !important;
	}
}

@media (max-width: 1024px) {
	.linksAndArrow {
		right: 20px;
		gap: 15px;
	}

	.links {
		gap: 10px;
	}

	.arrow > svg {
		height: 89vh;
		margin-right: 10px;
	}
}

@media (max-width: 580px) {
	.linksAndArrow {
		top: 20px;
		right: 10px;
	}

	.arrow > svg {
		height: 32vh;
	}
}

@media (max-width: 400px) {
	.arrow > svg {
		height: 22vh;
	}
}

@media (max-width: 300px) {
	.linksAndArrow {
		right: 7px;
	}

	.links {
		gap: 5px;
	}

	.arrow > svg {
		margin-right: 5px;
	}
}

@media (max-width: 220px) {
	.arrow > svg {
		display: none;
	}
}
