.developmentBlock {
	z-index: 10;

	display: grid;

	width: 100%;
	height: fit-content;

	background: var(--dark);
	gap: 60px;
}

.developmentBlock > a {
	width: fit-content;
}

.developmentBlock > h1,
.developmentBlock > a > h1 {
	width: fit-content;
	margin: 0;

	color: var(--white);
}

.developmentBlock > h1 > span,
.developmentBlock > a > h1 > span {
	color: var(--primary);
}

.link {
	width: fit-content;

	cursor: pointer;
	transition-duration: 300ms;
}

.link:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	color: var(--primary);
}

@media (min-width: 1024px) {
	.link:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		color: var(--primary) !important;
	}
}

@media (max-width: 1024px) {
	.developmentBlock {
		gap: 40px;
	}
}
