.loading {
	display: grid;
	align-items: center;

	width: 100%;
	height: 100%;
	grid-template-columns: 1fr auto 1fr;
	justify-items: center;
}

.loading span {
	display: inline-block;

	width: 7px;
	height: 7px;

	transition-duration: 300ms;

	animation-name: blink;
	animation-duration: 1.4s;
	animation-iteration-count: infinite;

	background: var(--white);
	animation-fill-mode: both;
}

.loadingPrimary span {
	background: var(--primary);
}

.loading span:nth-of-type(1) {
	margin-left: 40px;
}

.loading span:nth-of-type(2) {
	animation-delay: 0.2s;
}

.loading span:nth-of-type(3) {
	margin-right: 40px;

	animation-delay: 0.4s;
}

.loading:active > span {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	background: var(--primary);
}

@keyframes blink {
	0% {
		transform: rotate(0deg);

		opacity: 0.2;
	}

	20% {
		opacity: 1;
	}

	50% {
		transform: rotate(90deg);
	}

	100% {
		transform: rotate(180deg);

		opacity: 0.2;
	}
}

@media (min-width: 1024px) {
	.loading:hover > span {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		background: var(--primary);
	}
}

@media (max-width: 1024px) {
	.loading span:nth-of-type(1) {
		margin-left: 20px;
	}

	.loading span:nth-of-type(3) {
		margin-right: 20px;
	}
}

@media (max-width: 580px) {
	.loading span {
		width: 5px;
		height: 5px;
	}

	.loading span:nth-of-type(1) {
		margin-left: 10px;
	}

	.loading span:nth-of-type(3) {
		margin-right: 10px;
	}
}
