.sliderNavigationDiv {
	display: grid;

	width: 100%;
	height: fit-content;
	margin-top: 20px;
	justify-items: right;
	grid-template-columns: 1fr auto;
	gap: 10px;
}

.buttonPrev,
.buttonNext {
	display: grid;
	align-items: center;

	width: 40px;
	height: 40px;

	cursor: pointer;
	user-select: none;
	transition-duration: 300ms;

	color: var(--primary);
	border: 2px solid var(--primary);
	border-radius: 9999px;
	justify-items: center;
}

.disable {
	cursor: default;

	opacity: 0.3;
}
