.controlsItem {
	display: grid;
	align-items: center;

	margin: 0;
	padding: 0;

	cursor: pointer;
	transition: filter 300ms;

	color: var(--dark);
	border: none;
	border-radius: 9999px;
	background: var(--white);

	font-size: 28px;
	font-weight: 600;
	filter: saturate(0.9) brightness(0.9);
	justify-items: center;
}

.controlsItem:hover {
	filter: saturate(1) brightness(1.12);
}

@media (max-width: 580px) {
	.controlsItem {
		font-size: 18px;
	}
}

@media (max-width: 300px) {
	.controlsItem {
		font-size: 14px;
	}
}
