.crossBlock {
	position: absolute;
	top: -100px;

	display: grid;

	width: 60%;
	height: fit-content;

	transform: rotate(-15deg);
	justify-self: center;
	pointer-events: none;
}

.cross1 {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;

	width: 100%;
	height: fit-content;
}

.cross1 > svg {
	fill: var(--dark);
}

.colorTwo1 > svg {
	fill: var(--white);
}

.cross2 {
	position: absolute;
	z-index: 1;
	top: 5px;
	left: 5px;

	width: 100%;
	height: fit-content;
}

.cross2 > svg {
	fill: var(--white);
}

.colorTwo2 > svg {
	fill: var(--primary);
}

@media (max-width: 1024px) {
	.crossBlock {
		top: -40px;

		width: 55%;
	}
}

@media (max-width: 580px) {
	.crossBlock {
		top: -20px;

		width: 50%;
	}
}

@media (max-width: 300px) {
	.crossBlock {
		top: -15px;
	}
}
