.aboutBlock {
	z-index: 10;

	width: 100%;
	height: fit-content;

	background: var(--dark);
}

.aboutBlock > h1 {
	width: fit-content;
	margin: 0;

	color: var(--white);
}

.aboutBlock > h1 > span {
	color: var(--primary);
}
