.project {
	position: relative;

	display: grid;

	width: 100%;
	height: fit-content;

	grid-template-columns: auto 1fr;
	gap: 20px;
}

.imageBlock {
	display: grid;
	overflow: hidden;
	align-items: center;

	width: 100%;
	height: fit-content !important;

	cursor: pointer;

	background: var(--primary);
	justify-items: center;
	filter: brightness(0.9);
}

.image {
	width: 100%;
	height: fit-content;

	transition-duration: 300ms;
}

.title {
	justify-content: end;

	width: fit-content;
	height: 100%;
	margin: 0 0 0 0;
	padding: 0;

	cursor: pointer;

	user-select: none;
	transform: rotate(180deg);
	text-align: start;

	color: var(--primary);

	font-size: 30px;
	font-weight: 700;
	line-height: 30px;
	writing-mode: vertical-lr;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);

		opacity: 1;
	}

	100% {
		transform: rotate(90deg);

		opacity: 0;
	}
}

.imageBlock:active .image {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	transform: scale(1.1);
}

.imageBlock:active > div > span:nth-child(1) {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	animation: rotate 0.3s linear both;
}

.imageBlock:active > div > span:nth-child(2) {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	animation: rotate 0.5s linear both;
}

@media (min-width: 1024px) {
	.project:hover .image {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		transform: scale(1.1);
	}

	.project:hover > div > span:nth-child(1) {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		animation: rotate 0.3s linear both;
	}

	.project:hover > div > span:nth-child(2) {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		animation: rotate 0.5s linear both;
	}
}

@media (max-width: 580px) {
	.project {
		gap: 10px;
	}

	.title {
		font-size: 20px;
		line-height: 20px;
	}
}

@media (max-width: 300px) {
	.project {
		gap: 5px;
	}

	.title {
		font-size: 10px;
		line-height: 10px;
	}
}
