.projectsDiv {
	display: grid;
	grid-template-columns: auto;

	width: 100%;
	gap: 160px;
	margin: 80px 0;
}

@media (max-width: 1024px) {
	.projectsDiv {
		gap: 100px;

		margin: 40px 0;
	}
}

@media (max-width: 580px) {
	.projectsDiv {
		gap: 80px;

		margin: 20px 0;
	}
}

@media (max-width: 300px) {
	.projectsDiv {
		gap: 50px;

		margin: 0;
	}
}
