.title {
	z-index: 10;
	z-index: 2;

	color: var(--white) !important;

	font-weight: 600 !important;
}

.lightTitle {
	background: var(--dark) !important;
}

.darkTitle {
	color: var(--dark) !important;
	background: var(--white) !important;
}
