.projectBlock {
	display: grid;
	align-items: center;

	width: 100%;
	height: 100vh;

	border-radius: 0 0 80px 80px;

	background: var(--primary);
	justify-items: center;
}

.mainDiv {
	position: relative;

	display: grid;

	width: calc(90% - 80px);
	height: calc(80% - 80px);
	padding: 40px;

	border: 2px solid var(--white);
	grid-template-rows: auto 1fr;
}

.back {
	height: fit-content;

	cursor: pointer;

	font-weight: 800;
}

.back::before {
	content: '< ';
	transition-duration: 300ms;
}

.back:active::before {
	margin-right: 5px;

	margin-left: -5px;

	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.textDiv {
	display: grid;
	align-items: end;
	gap: 10px;
	grid-template-rows: 1fr auto;
}

.title {
	font-weight: 800;
}

.description {
	max-width: 50%;

	color: var(--white);
}

.textDiv > a {
	width: fit-content;
}

.link {
	width: fit-content;
	margin-top: 20px;

	cursor: pointer;

	color: var(--dark);

	font-weight: 800;
}

.link::after {
	content: ' >';
	transition-duration: 300ms;
}

.link:active::after {
	margin-left: 5px;

	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 1024px) {
	.back:hover::before {
		margin-right: 5px;

		margin-left: -5px;

		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	}

	.link:hover::after {
		margin-left: 5px;

		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	}
}

@media (max-width: 1024px) {
	.projectBlock {
		border-radius: 0 0 60px 60px;
	}

	.mainDiv {
		height: calc(90% - 40px);
		padding: 20px;
	}
}

@media (max-width: 580px) {
	.projectBlock {
		height: 50vh;

		border-radius: 0 0 40px 40px;
	}

	.mainDiv {
		width: calc(80% - 40px);
	}

	.description {
		max-width: 70%;
	}
}

@media (max-width: 400px) {
	.projectBlock {
		height: 40vh;

		border-radius: 0 0 30px 30px;
	}
}

@media (max-width: 300px) {
	.projectBlock {
		border-radius: 0 0 20px 20px;
	}

	.mainDiv {
		height: calc(95% - 20px);
		padding: 10px;
	}
}
