.contactsBlock {
	display: grid;

	width: 100%;
	height: fit-content;
	gap: 20px;
}

.contactsBlock > h1 {
	width: fit-content;
	margin: 0;

	cursor: pointer;
	transition-duration: 300ms;

	color: var(--white);
}

.or {
	cursor: text !important;

	color: var(--white) !important;
}

.contactsBlock > h1:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	color: var(--primary);
}

@media (min-width: 1024px) {
	.contactsBlock > h1:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		color: var(--primary);
	}
}
