.mainBlock {
	position: relative;

	display: grid;

	width: 100%;
	height: 100vh;

	background: var(--primary);
}

.banana {
	justify-content: end;

	width: fit-content;
	margin: -8px 0 0 0;
	padding: 0;

	user-select: none;

	color: var(--dark);
	background: red;

	font-size: 168px;
	font-weight: 700;
	line-height: 118px;
	writing-mode: vertical-lr;
}

.linksAndArrow {
	position: absolute;
	top: 40px;
	right: 40px;

	display: grid;

	width: fit-content;
	height: fit-content;
	justify-items: right;
	gap: 20px;
}

.links {
	display: grid;

	width: fit-content;
	grid-template-columns: repeat(4, auto);
	gap: 15px;
}

.links > h1 {
	cursor: pointer;
	transition-duration: 300ms;
}

.links > h1:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	color: var(--white) !important;
}

.arrow > svg {
	fill: var(--dark);

	height: 85vh;
}

@media (min-width: 1024px) {
	.links > h1:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		color: var(--white) !important;
	}
}

@media (max-width: 1024px) {
	.linksAndArrow {
		top: 20px;
		right: 20px;
	}


	.links {
		gap: 10px;
	}
}

@media (max-width: 300px) {
	.linksAndArrow {
		top: 10px;
		right: 10px;
	}


	.links {
		gap: 5px;
	}
}

@media (max-width: 220px) {
	.links {
		grid-template-columns: repeat(2, auto);
	}
}
